.contact_container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  margin: 4rem auto; 
  margin-bottom: 1rem;
  width: 90%;
  max-width: 90%; 
  justify-content: center;
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 70%;
  margin: 0 auto; 
}

.contact_form input,
.contact_form textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #33ccff;
  font-size: 1rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
}

.contact_form button {
  background-color: #33ccff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  padding: 0.75rem 1rem;
  transition: background-color 0.3s ease;
}

.contact_form button:hover {
  background-color: #1aa3cc;
}

p {
  font-size: 1.05rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.contact_cta {
  width: 70%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2rem 1rem;
  border: 1px solid #33ccff;
  border-radius: 0.5rem;
  margin-top: 1rem;
  box-sizing: border-box;
}

.contact_cta button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #1aa3cc;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

.contact_cta button:hover {
  border-bottom: none;
  background-color: #1aa3cc;
  color: white;
}
