.footer_main_container {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid white;
  padding: 5px;
}

.footer_logo_container {
  display: flex;
  
}

.footer_logo_container a {
  color: inherit;
}

.footer_logo_container ul {
  display: flex;
}
.footer_contact_logos {
  display: flex;
  margin: 5px;
}

