.footer_main_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid white;
  padding: 0 16px;
}

.footer_logo_container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.footer_logo_container a {
  color: inherit;
}

.footer_logo_container ul {
  display: flex;
}
.footer_contact_logos {
  display: flex;
  margin: 0px;
}

.footer_mid p {
  padding: 0px;
  margin: 0px;
}

.footer_mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  text-align: center;
}

.footer_left {
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
}

.footer_left p {
  display: flex;
}

@media (max-width: 724px) {
  .footer_mid {
    display: none;
  }
}