.modal_img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.img_slider_btn {
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}
.img_slider_btn:hover {
  background-color: rgb(0, 0, 0, .2);
}
.img_slider_btn > * {
  stroke: black;
  fill: rgb(51, 204, 255);
  width: 2rem;
  height: 2rem;
}

