.nav_container {
  display: flex;
  justify-content: space-between;
}

.nav_img {
  height: 20px;
  width: 20px;
}

.nav_branding {
  display: flex;
}

.nav_topics_container {
  display: flex;
  
}

.nav_topics_container ul {
  display: flex;
  list-style: none;
  
}

.nav_topics_container li {
  display: flex;
  justify-content: space-evenly;
}