.nav_container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
  padding: 5px;
}

.nav_branding {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_img {
  height: 50px;
  width: 50px;
  margin: 0px;
  padding: 5px;
}

.nav_topics_container {
  display: flex;
  align-items: center;
  
}

.nav_topics_container ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav_topics_container li {
  display: flex;
  padding: 5px;
  margin: 0px;
  border-top: 2px solid transparent;
  transition: border-top 0.5s ease, transform 0.3s ease;
}

.nav_topics_container li:hover {
  cursor: pointer;
  border-top: 2px solid rgb(51, 204, 255);
  transform: scale(1.05);
}